#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/behaviors.h>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/ext_power.h>

// keep all behavior settings for zmk studio
#define ZMK_BEHAVIORS_OMIT_KT

#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            bindings = <
              &kp ESC               &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp EQUAL                   &kp GRAVE          &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0   &kp MINUS
              &kp TAB               &kp Q         &kp W         &kp E         &kp R         &kp T         &kp PAGE_DOWN               &kp PAGE_UP        &kp Y         &kp U         &kp I         &kp O         &kp P          &kp LBKT
              &kp LSHIFT            &kp A         &kp S         &kp D         &kp F         &kp G         &kp HOME                    &kp END            &kp H         &kp J         &kp K         &kp L         &kp SEMICOLON  &kp SINGLE_QUOTE
              &kp LCTRL             &kp Z         &kp X         &kp C         &kp V         &kp B         &bootloader                 &bootloader        &kp N         &kp M         &kp COMMA     &kp PERIOD    &kp SLASH      &kp BACKSLASH
              &kp NON_US_BACKSLASH  &kp RBKT      &kp SPACE     &mkp MB1      &to 1         &to 2         &kp LALT   &kp LGUI         &msc SCRL_DOWN     &msc SCRL_UP  &mkp MB2      &kp BACKSPACE &kp ENTER     &bt BT_CLR     &studio_unlock
            
            >;
        };

        mouse_layer {
            display-name = "mouse";
            bindings = <
              &kp ESC               &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp EQUAL                   &kp GRAVE          &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0   &kp MINUS
              &kp TAB               &kp Q         &kp W         &kp E         &kp R         &kp T         &kp PAGE_DOWN               &kp PAGE_UP        &kp Y         &kp HOME      &kp END       &kp PAGE_UP   &kp P          &kp LBKT
              &kp LSHIFT            &kp A         &kp S         &kp D         &kp F         &kp G         &kp HOME                    &kp END            &kp H         &mkp MB1      &mkp MB2      &kp PAGE_DOWN &kp SEMICOLON  &kp SINGLE_QUOTE
              &kp LCTRL             &kp Z         &kp X         &kp C         &kp V         &kp B         &bootloader                 &bootloader        &kp N         &kp M         &kp COMMA     &kp PERIOD    &kp SLASH      &kp BACKSLASH
              &kp NON_US_BACKSLASH  &kp RBKT      &kp SPACE     &mkp MB1      &to 0         &to 2         &kp LALT   &kp LGUI         &msc SCRL_DOWN     &msc SCRL_UP  &mkp MB2      &kp BACKSPACE &kp ENTER     &bt BT_CLR     &studio_unlock
            
            >;
        };
        
        function_layer {
            display-name = "func";
            bindings = <
              &bootloader           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp EQUAL                   &kp GRAVE          &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0   &bootloader
              &kp TAB               &kp Q         &kp W         &kp E         &kp R         &kp T         &kp PAGE_DOWN               &kp PAGE_UP        &kp Y         &kp U         &kp I         &kp O         &kp P          &kp LBKT
              &kp LSHIFT            &kp A         &kp S         &kp D         &kp F         &kp G         &kp HOME                    &kp END            &kp H         &kp J         &kp K         &kp L         &kp SEMICOLON  &kp SINGLE_QUOTE
              &kp LCTRL             &kp Z         &kp X         &kp C         &kp V         &kp B         &bootloader                 &bootloader        &kp N         &kp M         &kp COMMA     &kp PERIOD    &kp SLASH      &kp BACKSLASH
              &kp NON_US_BACKSLASH  &kp RBKT      &kp SPACE     &mkp MB1      &to 1         &to 0         &kp LALT   &kp LGUI         &msc SCRL_DOWN     &msc SCRL_UP  &mkp MB2      &kp BACKSPACE &kp ENTER     &bt BT_CLR     &studio_unlock
            
            >;
        };
        extra1 {
                status = "reserved";
            };

        extra2 {
                status = "reserved";
            };
    };
};
