config SHIELD_DACTYL_MANUFORM_5x7_SA_LEFT
    def_bool $(shields_list_contains,dactyl_manuform_5x7_sa_left)

config SHIELD_DACTYL_MANUFORM_5x7_SA_RIGHT
    def_bool $(shields_list_contains,dactyl_manuform_5x7_sa_right)
