#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/behaviors.h>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/ext_power.h>

// keep all behavior settings for zmk studio
#define ZMK_BEHAVIORS_OMIT_KT

#define DEFAULT 0

#include "common_macros.dtsi"

    &sl {
    release-after-ms = <1000>;
};


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            bindings = <
              &kp ESC               &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4      &kp NUMBER_5             &kp NUMBER_6        &kp NUMBER_7       &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0   &kp MINUS
              &kp TAB               &kp Q         &kp W         &kp E         &kp R             &kp T                    &kp Y               &kp U              &kp I         &kp O         &kp P          &kp LBKT
              &kp LSHIFT            &kp A         &kp S         &kp D         &kp F             &kp G                    &kp H               &kp J              &kp K         &kp L         &kp SEMICOLON  &kp SINGLE_QUOTE
              &kp LCTRL             &kp Z         &kp X         &kp C         &kp V             &kp B                    &kp N               &kp M              &kp COMMA     &kp PERIOD    &kp SLASH      &kp BACKSLASH
                                    &kp LGUI      &kp SPACE     &kp DEL       &my_lt_kp RALT 5  &kp LALT                 &my_lt 3 4          &kp BACKSPACE      &kp ENTER

            
            >;
        };

        mouse_layer {
            display-name = "mouse";
            bindings = <
             &ktd ESC   &ktd N1  &ktd N2  &ktd N3  &ktd N4  &ktd N5  &ktd N6 &ktd N7   &ktd N8   &ktd N9         &ktd N0          &ktd MINUS
             &ktd TAB   &ktd Q   &ktd W   &ktd E   &ktd R   &ktd T   &ktd Y  &ktd U    &ktd I    &ktd O          &ktd P           &ktd LBKT
             &trans     &ktd A   &ktd S   &ktd D   &ktd F   &ktd G   &to 2   &mkp MB1  &mkp MB2  &ktd L          &ktd SEMICOLON   &ktd SINGLE_QUOTE
             &trans     &ktd Z   &ktd X   &ktd C   &ktd V   &ktd B   &ktd N  &ktd M    &ktd COMMA &ktd PERIOD    &ktd SLASH       &ktd BACKSLASH
             &trans     &ktd SPACE &ktd DEL        &trans                    &trans    &trans    &ktd BACKSPACE  &ktd ENTER      
            
            >;
        };

        scroll_layer {
            display-name = "scroll";
            bindings = <
             &ktd ESC   &ktd N1  &ktd N2  &ktd N3  &ktd N4  &ktd N5  &ktd N6 &ktd N7   &ktd N8   &ktd N9         &ktd N0          &ktd MINUS
             &ktd TAB   &ktd Q   &ktd W   &ktd E   &ktd R   &ktd T   &ktd Y  &ktd U    &ktd I    &ktd O          &ktd P           &ktd LBKT
             &trans     &ktd A   &ktd S   &ktd D   &ktd F   &ktd G   &ktd H  &mkp MB1  &mkp MB2  &ktd L          &ktd SEMICOLON   &ktd SINGLE_QUOTE
             &trans     &ktd Z   &ktd X   &ktd C   &ktd V   &ktd B   &ktd N  &ktd M    &ktd COMMA &ktd PERIOD    &ktd SLASH       &ktd BACKSLASH
             &trans     &ktd SPACE &ktd DEL        &trans                    &trans    &trans    &ktd BACKSPACE  &ktd ENTER       
            
            >;
        };
        
        navigation_layer {
            display-name = "navigation";
            bindings = <
              &trans                &trans                  &trans        &trans        &trans        &trans                     &trans             &trans        &trans           &trans        &trans         &trans
              &trans                &trans                  &trans        &kp UP        &trans        &trans                     &trans             &trans        &kp PAGE_UP      &trans        &trans         &trans
              &trans                &trans                  &kp LEFT      &kp DOWN      &kp RIGHT     &trans                     &trans             &kp HOME      &kp PAGE_DOWN    &kp END       &trans         &trans
              &trans                &kp NON_US_BACKSLASH    &kp RBKT      &trans        &trans        &trans                     &mkp MB5           &mkp MB4        &trans           &trans        &trans         &trans
                                    &trans                  &trans        &trans        &trans        &trans                     &trans             &trans        &trans           
            
            >;
        };

        function_layer {
            display-name = "func";
            bindings = <
              &trans                &mon1         &mon2         &comp1        &comp2        &trans                    &bt_sel0           &bt_sel1      &bt_sel2      &bt_sel3      &bt_sel4       &bt_clr_d 
              &trans                &trans        &trans        &trans        &trans        &trans                    &trans             &trans        &trans        &trans        &trans         &trans
              &trans                &trans        &trans        &trans        &trans        &trans                    &trans             &trans        &trans        &trans        &trans         &trans
              &bootloader           &trans        &trans        &trans        &trans        &trans                    &trans             &trans        &trans        &trans        &trans         &bootloader
                                    &trans        &trans        &trans        &trans        &trans                    &out_ble_d         &out_usb_d    &trans
            >;
        };

        fkeys_layer {
            display-name = "fkeys";
            bindings = <
              &trans                &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                     &kp F6             &kp F7        &kp F8           &kp F9        &kp F10        &trans
              &trans                &trans        &trans        &trans        &trans        &kp F11                    &kp F12            &trans        &trans           &trans        &trans         &trans
              &trans                &trans        &trans        &trans        &trans        &trans                     &trans             &trans        &trans           &trans        &trans         &trans
              &trans                &trans        &trans        &trans        &trans        &trans                     &trans             &trans        &trans           &trans        &trans         &trans
                                    &trans        &trans        &trans        &trans        &trans                     &trans             &trans        &trans           
            
            >;
        };

        extra1 {
                status = "reserved";
            };

        extra2 {
                status = "reserved";
            };
    };
};
